@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: "Hanging Letters";
    src: url("../font/hanged_letters.eot?") format("eot"), url("../font/hanged_letters.woff") format("woff"), url("../font/hanged_letters.ttf") format("truetype"), url("../font/hanged_letters.svg#hangingletters") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* ---------- Variable definition ------------ */
:root {
    --title-font-family: 'Roboto', sans-serif;
    --title-font-color: #c2bcbc;
    --blog-font-family: 'Roboto', sans-serif;
    --title-font-size: 28px;
    --main-p-description-font-color: #fff;
    --main-p-description-font-weight: 580;
    --contact-p-description-font-size: 15px;
    --contact-p-description-color: #dad8d6;
    --button-color: rgba(26, 124, 25, 0.95);
    --button-color-hover: #194D21;
    --button-contact-color: rgba(26, 124, 25, 0.95);
    --button-contact-color-hover: #194D21;
    --box-shadow-color: #ececec;
    /* ---------- Backgrounds ------------ */

    --gradient-background-tools-contact: rgba(26, 124, 25, 0.95);
    --gradient-background-navigation: transparent;
    --gradient-background-header: radial-gradient(#B3E6BD, #194D21);
    /* ---------- Header ------------ */
    --signature-font-family: "Hanging Letters", sans-serif;
    --signature-font-size: 65px;
    --navigation-item-font-family: 'Lato', sans-serif;
    --navigation-item-font-size: 20px;
    --box-shadow-style: 2px 2px 5px #014b26;
}


.main-introduction__wrapper {
    --right-margin-introduction: 8%;
    --main-p-description-font-size: 16px;
    --navigation-item-hover-color: #a5a1a1;

}

body {
    --body-background: radial-gradient(#B3E6BD, #194D21);
}

/* ---------- HTML Markup styles------------ */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    width: 100%;
    background: var(--body-background);
    max-width: 3000px;
}

::-webkit-scrollbar {
    width: 14px;
    background: inherit;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--box-shadow-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #035a20 content-box;
    border-left: 1px solid white;
    -webkit-box-shadow: inset 0 0 6px #035a20;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #013018;
    -webkit-box-shadow: inset 0 0 6px #013018;
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #035a20;
}


span {
    font-size: 18px;
}

ul {
    margin-bottom: 0px;
}



/* ---------- Main wrapper structure------------ */
.main--wrapper {
    width: 100%;
    overflow-y: auto;
    max-width: 3000px;
}

.link {
    text-decoration: none;
    color: inherit;
}

/* ---------- Header wrapper structure------------ */
.main-header__wrapper,
.main-header__navigation,
.main-header__navigation-pages,
.main-personal__wrapper,
.main-introduction__contact,
.main-introduction__contact-hire,
.main-introduction__contact-CV,
.main-introduction__businessCard-footer,
.main-personal__aboutMe-footer,
.main-tools__list,
.main-tools__item,
.main-projects__list,
.main-projects__item,
.main-projects__item-description,
.main-projects__item-footer,
.main-blog__post-wrapper,
.main-blog__post-image,
.main-introduction__contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-header__wrapper {
    height: 90px;
    min-width: 1100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background: var(--gradient-background-header);
    -webkit-box-shadow: 0px 5px 5px var(--box-shadow-color);
    box-shadow: 0px 5px 5pxvar(--box-shadow-color);
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 10;
}

.main-header__wrapperUp {
    Top: -100px;
}

.main-header__dropdown {
    display: none;
}

.main-header__signature {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    min-width: 180px;
    text-align: left;
    padding-left: 8%;
    font-family: var(--signature-font-family);
    font-size: var(--signature-font-size);
    color: #e2e2e2;
    -webkit-filter: drop-shadow(3px 3px 2px rgb(4, 83, 34));
    filter: drop-shadow(3px 3px 2px rgb(4, 83, 34));
}



.main-header__navigation {
    min-height: 55px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    font-family: var(--navigation-item-font-family);
    font-size: var(--navigation-item-font-size);
    margin: 20px 6% 20px 0px;
    padding: 0px;
    border-radius: 10px 10px;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
    background: var(--gradient-background-navigation) no-repeat 0px/cover;

}

.main-header__navigation-pages {
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    justify-content: flex-start;
    min-width: 510px;
    max-width: 750px;
    padding-left: 30px;
}

.main-header__navigation-Item {
    display: inline-block;
    text-align: center;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-filter: drop-shadow(3px 3px 2px rgb(4, 83, 34));
    filter: drop-shadow(3px 3px 2px rgb(4, 83, 34));
}

.main-header__navigation-Item:nth-of-type(5) {
    -ms-flex-preferred-size: 19%;
    flex-basis: 19%;
    min-width: 100px;
}

.main-header__navigation-pages .main-header__navigation-Item:nth-of-type(2),
.main-header__navigation-pages .main-header__navigation-Item:nth-of-type(3),
.main-header__navigation-Item:nth-of-type(4),
.main-header__navigation-Item:nth-of-type(5) {
    margin-right: 20px;
}

.main-header__navigation-Item-hr {
    margin: 0px 3% 0px 1%;
    -ms-flex-preferred-size: 0%;
    flex-basis: 0%;
    height: 45px;
    border: 1px solid white;
}

.main-header__navigation-Item i {
    font-size: 120%;
    -webkit-filter: drop-shadow(3px 3px 2px rgb(4, 83, 34));
    filter: drop-shadow(3px 3px 2px rgb(4, 83, 34));
    margin-right: 10px;
}

.main-header-link:hover {
    color: var(--navigation-item-hover-color);
    cursor: pointer;
}

.main-header__navigation-social {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    min-width: 140px;
    display: flex;
    align-items: flex-start;
}

.main-header-link {
    text-decoration: none;
    color: #ffffff;
}

.main-navigation__scroll-Up {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    background: url('../images/scrollup.png') no-repeat 0px/75px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    display: none;
    opacity: 0.7;
}

.main-content__wrapper {
    padding-top: 100px;
}


/* -------------------- Personal info page ------------------------- */
.main-programmer__characteristic {
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.main-introduction__picture,
.main-introduction__businessCard,
.main-introduction__contact-wrapper {
    position: absolute;
}

.main-introduction__wrapper {
    min-height: 600px;
}

.main-introduction__picture,
.main-introduction__picture img {
    width: 400px;
    height: 550px;
    border-radius: 10px;
}

.main-introduction__picture {
    background: url('../images/sandpaper.png') no-repeat 0px/cover;
    top: 40px;
    left: 9.5%;
    z-index: 0;
}

.main-robot__wrapper img {
    max-width: 200px;
    position: absolute;
    left: calc(9.5% + 400px);
    top: calc(40px + 550px - 200px);
}

.main-introduction__businessCard {
    max-width: 37%;
    min-width: 370px;
    max-height: 270px;
    min-height: 180px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 10px 10px;
    padding: 10px 20px 0px 20px;
    top: 100px;
    right: var(--right-margin-introduction);
    -webkit-box-shadow: 2px 2px 5px var(--box-shadow-color);
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}

.main-introduction__businessCard-footer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: -10px;
}

.main-introduction__businessCard-footer img {
    max-width: 50px;
    max-height: 50px;
    margin-left: -10px;
}

.main-introduction__businessCard-footer span {
    display: inline-block;
    margin-right: 30px;
}

.main-introduction__contact-wrapper {
    max-width: 450px;
    max-height: 170px;
    top: 315px;
    right: var(--right-margin-introduction);
    padding-top: 10px;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;

}

.main-introduction__contact-description p,
.main-introduction__contact-description h2 {
    text-align: right;
}

.main-introduction__contact-hire,
.main-introduction__contact-CV {
    min-height: 44px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    min-width: 138px;
    margin: 0 auto;
    background: var(--button-color) no-repeat 0px/cover;
    margin: 0px 12px;
    border-radius: 8px 8px;
    -webkit-box-shadow: 0px 0px 10px var(--box-shadow-color);
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    color: white;
}

.main-introduction__contact-hire:hover,
.main-introduction__contact-CV:hover {
    background-color: var(--button-color-hover);
}


.main-personal__aboutMe-wrapper,
.main-personal__skills-wrapper {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 10px 20px;
    min-height: 455px;
}

.main-personal__aboutMe-wrapper {
    margin: 20px 20px 40px 11.5%;
}

.main-personal__aboutMe-wrapper .main-p-title {
    margin-bottom: 25px;
}


.main-personal__aboutMe-footer {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 5px;
}

.main-personal__aboutMe-footer img {
    max-height: 70px;
    max-width: 150px;
}

.main-personal__skills-wrapper {
    height: 100%;
    margin: 0px 8% 30px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px;
    -webkit-box-shadow: 2px 2px 3px var(--box-shadow-color);
    box-shadow: 2px 2px 3px var(--box-shadow-color);
}

.main-personal__skills {
    padding: 20px 20px 20px 0px;
}

.main-skill {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 6px;
    margin: 10px 70px 10px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    height: 32px;
}

[class^="main-skills__"] {
    padding: 5px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 4px var(--box-shadow-color);
    box-shadow: 0px 0px 4px var(--box-shadow-color);
    background: var(--button-color) no-repeat 0px/cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    /* min-width: 130px; */
}

.main-skills__HTML,
.main-skills__CSS,
.main-skills__JS,
.main-skills__React,
.main-skills__TS {
    animation-name: skill-progress;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes skill-progress {
    0% {
        flex-basis: 0%;
        min-width: 0px;
    }

    100% {
        width: 100%;
    }
}

.main-skill span {
    animation-name: skill-offset;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

@keyframes skill-offset {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main-skills__HTML,
.main-skills__CSS {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
}

.main-skills__JS {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}

.main-skills__React,
.main-skills__TS {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
}

.main-p-title {
    color: var(--title-font-color);
    -webkit-filter: drop-shadow(1px 1px 1px rgb(251, 253, 252));
    filter: drop-shadow(1px 1px 1px rgb(251, 253, 252));
}

.main-p-description,
li {
    color: var(--main-p-description-font-color);
    font-weight: var(--main-p-description-font-weight);
    font-size: var(--main-p-description-font-size);
    text-align: justify;
    hyphens: auto;
}

.main-p-description,
.main-p-title,
h1,
h2 {
    font-family: var(--title-font-family);
    -webkit-filter: drop-shadow(1px 1px 1px rgb(180, 180, 180));
    filter: drop-shadow(1px 1px 1px rgb(180, 180, 180));
}

.main-p-title,
h1,
h2 {
    font-size: var(--title-font-size);
    margin: 0px;
}

/* ---------------- My tools------------------- */
.main-tools__wrapper {
    position: relative;
    background: var(--gradient-background-tools-contact) no-repeat 0px/cover;
    padding: 30px 150px 20px 220px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 260px;
}

.main-tools__wrapper .main-p-title,
.main-projects__wrapper .main-p-title {
    margin-bottom: 25px;
}

.main-tools__list {
    margin-top: 10px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.main-tools__item:first-of-type {
    margin-left: 0px;
}

.main-tools__item {
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 5px var(--box-shadow-color);
    box-shadow: 3px 3px 5px var(--box-shadow-color);
    margin: 0px 10px;
    -ms-flex-preferred-size: 5%;
    flex-basis: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 100px;
    min-height: 100px;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    border-radius: 5px;
}

.main-tools__item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.main-tools__item-description,
.main-tools__item-logo {
    text-align: center;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.main-tools__item-logo img {
    max-width: 50px;
    max-height: 50px;
}

.main-tools__item-description span {
    display: inline-block;
    font-size: 12px;
}

.main-projects__wrapper p {
    max-width: 500px;
}

/* ------------------ My projects --------------------- */

.main-projects__wrapper {
    padding: 20px 200px 20px 200px;
    position: relative;
}

.main-projects__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-projects__item {

    max-width: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 10px var(--box-shadow-color);
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    background-color: rgba(252, 252, 252, 0.5);
    border-radius: 7px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.main-projects__item-screen {
    position: relative;
    -ms-flex-preferred-size: 93%;
    flex-basis: 93%;
    box-sizing: border-box;
}

.main-projects__item-footer {
    -ms-flex-preferred-size: 7%;
    flex-basis: 7%;
    align-self: flex-end;
}

.main-projects__item-screen img {
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.main-projects__item-footer img {
    max-height: 50px;
    max-width: 50px;
    color: white;
}

.main-projects__item-screen .main-projects__item-description {
    border-radius: 10px;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    left: 0;
    top: 0;
    opacity: 0;
    padding-top: 20px;
    background-color: #096336;
    transition: opacity 1s ease-in-out;
    color: #f0f0f0;
}

.main-projects__item:hover .main-projects__item-description {
    opacity: 0.8;
}

.main-projects__item-description h3 {
    margin-bottom: 2px;
    font-size: 28px;
}

.main-projects__item-description p {
    margin-top: 0px;
}

.main-projects__item-description i {
    font-size: 55px;
    cursor: pointer;
    color: #fff;
}

.main-projects__list {
    min-height: 220px;
}

.main-projects__description-mobile {
    min-height: 200px;
    display: none;
}

/* -------------------- my Blog -------------------- */

.main-blog__wrapper {
    padding: 20px 200px 20px 200px;
    position: relative;
}

.main-blog__post {
    margin: 30px 5px;
}

.main-blog__post-image,
.main-contact__image {
    margin: 10px 20px 10px 0px;
    width: 340px;
    height: 170px;
    -webkit-box-shadow: 4px 4px 10px var(--box-shadow-color);
    box-shadow: 4px 4px 10px var(--box-shadow-color);
    border-radius: 10px;

}

.main-blog__post:nth-of-type(1) .main-blog__post-image {
    background: #fdfdfd url(../images/automotive.png) no-repeat center/cover padding-box border-box;
}

.main-blog__post:nth-of-type(2) .main-blog__post-image {
    background: #fdfdfd url(../images/graduation_agh.png) no-repeat center/cover padding-box border-box;
}


.main-blog__post-description {
    padding: 10px 20px 10px 10px;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-blog__post-header {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.main-blog__post-title {
    text-align: left;
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
}

.main-blog__post-author {
    text-align: right;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    color: #f0f0f0;
    margin: 0;
}

.main-blog__post-author p {
    margin: 2px;
}

.main-blog__post-shortcut {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 1000px;
    width: 100%;
}
.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #f0f0f0;
    font-size: 1.5em;
    line-height: 2;
}

.read-more-trigger:hover {
    color: #4b4b4b;
}

.main-blog-p {
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-family: var(--blog-font-family);
    font-size: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f0f0f0;
}

.main-blog-p img {
    display: block;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;s
    align-self: center;
    margin: 10px 20px;
    max-width: 70%;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px var(--box-shadow-color);
    box-shadow: 5px 5px 10px var(--box-shadow-color);
}


.read-more-trigger {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    scrollbar-width: 0px;
}

.main-blog__post input {
    display: none;
    scrollbar-width: 0px;
}

input+.read-more-trigger+* {
    scrollbar-width: 0px;
    max-height: 0;
    transition: max-height 1s;
}

input:checked+.read-more-trigger+* {
    scrollbar-width: 0px;
    max-height: 2000px;
    overflow: hidden;
    transition: max-height 5s;
}

.main-blog__content {
    overflow: hidden;
}

.read-more-trigger::before {
    content: 'Read more >';
}

input:checked+.read-more-trigger::before {
    content: 'Read less <';
}


/* -------------------- contact -------------------- */

.main-contact__wrapper {
    background: var(--gradient-background-tools-contact) no-repeat 0px/cover;
    padding: 20px 200px 20px 200px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

.main-contact__form {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding-top: 30px;
}

.main-contact__form p {
    max-width: 450px;
}

.main-contact__description {
    position: relative;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-right: 20px;
}

.main-contact__image {
    width: 260px;
    height: 270px;
    margin: 0px 10px 10px 10px;
    border-radius: 10px;
    background: rgba(233, 231, 231, 0.5) url(../images/adrian-kotlinski.png) no-repeat center/cover padding-box border-box;
}

.contact-p-description {
    margin: 2px 5px;
    color: var(--contact-p-description-color);
    font-size: var(--contact-p-description-font-size);
}

.main-contact__card {
    position: absolute;
    top: 95px;
    left: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 8px var(--box-shadow-color);
    box-shadow: 0px 0px 8px var(--box-shadow-color);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 280px;
    height: 80px;
}

.main-contact__card-symbol {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    width: 50px;
    height: 50px;
    background: url('../images/kontakt_ikona.png') no-repeat 0px/cover;
}

.main-contact__card-data {
    margin-left: 10px;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;

}

.main-contact__card-data .main-p-description {
    color: #353333;
}

.main-contact-form__name,
.main-contact-form__email,
.main-contact-form__message {
    background-color: rgba(252, 252, 252, 0.5);
    width: 100%;
    border: none;
    padding: 10px 10px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 8px var(--box-shadow-color);
    box-shadow: 0px 0x 8pxvar(--box-shadow-color);
}

.main-contact-form__name::placeholder,
.main-contact-form__email::placeholder,
.main-contact-form__message::placeholder {
    color: rgba(240, 240, 240, 0.8);
}

.main-contact-form__item {
    margin: 10px 0px;
    width: 50%;
}

.main-contact-form__message {
    overflow-y: auto;
    min-height: 100px;
}

.main-contact-form__endform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.main-contact-form__submit,
.main-contact-form__reset {
    display: inline-block;
    background: var(--button-color) no-repeat 0px/cover;
    border: none;
    font-size: large;
    min-width: 120px;
    min-height: 40px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px var(--box-shadow-color);
    box-shadow: 0px 0px 10px var(--box-shadow-color);
    color: #ffffff;
    margin: 5px 20px;
}

.main-contact-form__submit:hover,
.main-contact-form__reset:hover {
    background-color: var(--button-color-hover);
}

#contact-form textarea:valid,
#contact-form input:required:valid {
    border: 2px solid #16FF84;
    background-color: #cafae0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #cafae0 inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
}

#form-group {
    opacity: 0;
}

#contact-form input.field-error,
#contact-form textarea.field-error {
    border-color: red;
    outline: none;
    -webkit-box-shadow: 0 0 0 2px rgba(228, 40, 6, 0.7);
    box-shadow: 0 0 0 2px rgba(228, 40, 6, 0.7);
}

.form-error-text {
    color: red;
    font-size: 1rem;
    margin-top: 8px;
}

#form-status {
    display: block;
    color: green;
    font-size: x-large;
}